*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mulish;
}
.navbar-content{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    width: 90%;
    display: flex;
    
    
}
.vision-tra{
    display: flex;
    width: 50%;
    
}
.vision-pic{
    height: 50px;
    width: 30px;
}
.tra-text {
    text-align: center;
    padding-top: 18px;
    padding-left: 10px;
}
.home-bar a{
    text-decoration: none;  
    color: var(--Dark-02, #424247);
    font-size: 18px; 
    font-weight: 400;
    font-family: mulish;
    
}
.home-bar{
    padding-top: 25px;
    padding-left: 80px;
    row-gap: 45px;
    }
a.h2{
    padding-left: 45px;
}
a.h3{
    padding-left: 45px;

}
a.h4{
    padding-left: 45px;
}
a.h5{
    padding-left: 45px;
}
   

.beach{
    margin-top: 40px;
   max-width: 1150px;  
   height: 500px;
    
    margin-left: 60px;
    margin-right: 60px;
    
}
.explore h1{
    text-align: center;
    padding-top: 120px;
    font-size: 64px;
    font-weight: 800;
    color:white;
    
}
.para1{
    text-align: center;
    padding-top: 33px;
    color: white;
}
.beach{
    background-image:url(Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 8px;
}




.box shadow,.where,.when,.select,.find{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
    border-color: aliceblue;
}
.where{
    padding-left:250px ;
    border-radius: 10px;
    }
.find button{
    padding-top: 20px;
}
.full-size{
    margin-top: 40px;
    max-width:1150px;
    height: 500px;
    
    margin-left: 60px;
    margin-right: 60px;
    
    display: flex;
    

}
.content-text{
    max-width: 50%;
    margin-top: 30px;
    
}
.container-pic{
  Max-width:50%;
    
}
.tours{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sight{
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
li{
    padding-top: 12px;
    padding-bottom: 12px;
   
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
ul{
    padding-left: 25px;
}
.container-pic{
    padding-left: 40px;
    margin-top: 30px;
}
.choose{
    margin-top: 180px;
    padding-left: 60px;
    text-align: center;
}
.travel{
    padding-top: 25px;
    color: grey;
}
.grid-pic{
  max-width:1170px;
    height: 900px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
}
.choose{
    margin-top: 80px;
}
.cards{
    max-width:1170px;
    height: 320px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 30px;
    
    display:flex;
    justify-content: space-around;
}
.handpic{
    max-width: 550px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-top: 30px;
padding-left: 25px;

}
.world-class{
    max-width: 550px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding-top: 30px;
padding-left: 25px;


}
.guarantee{
    max-width: 550px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-left: 350px;
padding-top: 30px;
padding-left: 25px;


}
.deals{
    text-align: center;
    margin-top: 90px;
}
.section{
    max-width: 1150px;
    height: 500px;
    
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 50px;
    display: flex;
}
.news{
    height: 480px;
    max-width: 400px;
    border:1px solid rgb(179, 5, 95); 
    
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 35px;
}
.inputt{
    margin-top: 70px;
}
.inputt1{
    margin-top: 30px;
    color: black;
}
.boxx{
    width: 250px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(179, 5, 95);
    color: white;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 845px;
    margin-bottom: 50px;
    position: relative;
    transform: rotate(-35deg);
}
  

.hill{
    display: flex;
}
.social img{
    position: relative;
    text-align: center;
    gap: 60px;
}
.picc img{
    height: 50px;
    max-width: 30px;
}
.foot{
    height: 700px;
    max-width: 1260px;
    background: rgba(19, 19, 24, 0.05);
}
.pic-set {
    display: flex;
    text-align: center;
    padding-left: 490px;
    padding-top: 250px;
}
.text-set{
    padding-top: 10px;
}
.perrr{
    color: grey;
    padding-left: 280px;
    padding-top: 20px;
}
.sociall{
    padding-left: 480px;
    padding-top: 30px;
}


.reserved{
    padding-left: 480px;
    padding-top: 80px;
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
@media screen and (max-width:576px) {
    .navbar-content{
      
    }
  



}

    




